<li data-id=<%= category.id %> class='js-category_item'>
  <%= link_to manage_metadata_category_path(category), class: 'js-category_title' do %>
    <span><%= category.title %></span>
  <% end %>
  <span class='glyphicon glyphicon-chevron-down js-handle_hidden'></span>

  <div class='hiddable' style='display:none'>
    <%= link_to edit_manage_metadata_category_path(category), remote: true,
      class: 'js-edit_category' do %>
      <span class='glyphicon glyphicon-pencil'></span>
    <% end %>

    <%= link_to manage_metadata_category_path(category), remote: true,
      class: 'js-delete_category', method: :delete,
      data: {confirm: "Удалить категорию #{category.title}. Вы уверены? Удалятся все дочерние категории!"} do %>
      <span class='hiddable glyphicon glyphicon-trash'></span>
    <% end %>
  </div>

  <div class='js-toggable' style='display:none'>
    <ul class='categories_children'>
      <%= render partial: 'children', locals: {children: category.children} %>
    </ul>
    <%= link_to t('categories.new'),
      new_manage_metadata_category_path(ancestry: (category.ancestor_ids << category.id).join('/')),
      remote: true, class: 'js-new_subcategory', 'data-parent-id': category.id %>
  </div>
</li>





