<%= simple_nested_form_for [:manage, :metadata, @category, @property] do |f| %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='col-xs-6'>
        <%= f.input :title,
          input_html: {disabled: !can_change_fields?(@category, @property) } %>
        <%= f.input :kind %>
        <%= f.input :category_id, as: :hidden %>

        <%= f.simple_fields_for @category_property do |cat_pro| %>
          <%= cat_pro.input :category_id, as: :hidden %>
          <%= cat_pro.input :necessarily %>
          <% unless literal?(@property.kind) %>
            <%= cat_pro.input :show_on_public %>
            <%= cat_pro.input :show_as,
              as: :select,
              collection: [:check_boxes, :radio_buttons, :select]%>
          <% end %>
        <% end %>

        <%= f.input :show_on_filter_as,
          as: :select,
          collection: collection_for_filter(@property.kind),
          input_html: {disabled: !can_change_fields?(@category, @property)} %>

        <%= f.submit 'Сохранить', class: 'btn btn-default' %>
        <%= link_to 'Отмена', manage_metadata_category_path(@category) %>
      </div>

      <div class='col-xs-6 nested_fields'>
        <%= render partial: "manage/metadata/properties/fields/#{@property.kind}_fields", locals: { f: f } %>
      </div>
    </div>
  </div>
<% end %>
