<div class="row" id='vue-form_organization'>
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <%= simple_nested_form_for [:manage, @organization], html: { class: 'msform inputs-underline form' } do |f| %>

      <ul id="progressbar">
        <li class="active">Общая информация</li>
        <li>Категория</li>
        <li>Дополнения</li>
        <li>Публикация</li>
      </ul>

      <%= f.input :city_id, as: :hidden,
        input_html: { value: @current_city.id } %>

      <%= f.input :parent_id, as: :hidden,
        input_html: { value: params[:parent_id] } %>

      <div id='store_organization' class='store' style='display:none'>
        <% if @organization.persisted? %>
          <%= @organization.pretty_values %>
        <% else %>
          <%= params['organization'] ? params['organization']['values_attributes'].to_json : '{}' %>
        <% end %>
      </div>

      <div id='store_organization_errors' class='store' style='display:none'>
        <%= @organization.errors.messages.to_json %>
      </div>

      <fieldset>
        <h2>Общая информация</h2>
        <%= f.input :title, placeholder: 'Название' %>

        <%= f.simple_fields_for :phones do |p| %>
          <div class='row'>
            <div class='col-xs-11'>
              <%= p.input :value, placeholder: 'Телефон' %>
            </div>

            <div class='col-xs-1 col_remove_nested'>
              <%= p.link_to_remove do %>
                <span class='glyphicon glyphicon-remove'></span>
              <% end %>
            </div>

          </div>
        <% end %>

        <%= f.simple_fields_for :emails do |p| %>
          <div class='row'>
            <div class='col-xs-11'>
              <%= p.input :value, placeholder: 'Email' %>
            </div>
            <div class='col-xs-1 col_remove_nested'>
              <%= p.link_to_remove do %>
                <span class='glyphicon glyphicon-remove'></span>
              <% end %>
            </div>

          </div>
        <% end %>

        <%= f.simple_fields_for :links do |p| %>
          <div class='row'>
            <div class='col-xs-5'>
              <%= p.input :title, label: 'Текст ссылки', placeholder: 'Текст ссылки' %>
            </div>
            <div class='col-xs-6'>
              <%= p.input :href, placeholder: 'Ссылка' %>
            </div>
            <div class='col-xs-1 col_remove_nested'>
              <%= p.link_to_remove do %>
                <span class='glyphicon glyphicon-remove'></span>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= f.link_to_add 'Добавить телефон', :phones, class: 'hidden' %>
        <%= f.link_to_add 'Добавить email', :emails, class: 'hidden' %>
        <%= f.link_to_add 'Добавить ссылку', :links, class: 'hidden' %>

        <a @click="link_to_add_nested_fields('phones')" href='javascript:void(0)'>Добавить телефон</a>
        <a @click="link_to_add_nested_fields('emails')" href='javascript:void(0)'>Добавить email</a>
        <a @click="link_to_add_nested_fields('links')" href='javascript:void(0)'>Добавить ссылку</a>

        <div class='js-address_fields'>
          <%= f.simple_fields_for :address %>
        </div>

        <input type="button" name="next" class="next btn btn-success" value="Следующий шаг" />
        <%= f.submit 'Сохранить', class: 'btn btn-success' %>
        <%= link_to 'Отмена', :back %>
      </fieldset>

      <fieldset>
        <h2>Категория</h2>

        <% unless @organization.persisted? %>
          <div class="form-group">
            <label for="organization_category_id">Категория</label>
            <select @change='setCategory()' class="form-control selectpicker" name="organization[category_id]" id="organization_category_id">
              <option value="" selected disabled>Категория</option>

              <%= @categories.each do |category| %>
                <option value="<%= category.id %>"><%= category.title %></option>
              <% end %>
            </select>
          </div>
        <% else %>
          <div id='edit_mode'></div>
          <%= f.input :category_id, as: :hidden %>
        <% end %>

        <h2>{{organization.category.title}}</h2>
        <h2><%= f.error :category, style: 'color:#a94442' %></h2>
        <div
          is='property-component'
          v-for='(value, index) in organization.values'
          :value='value'
          :index='index'
          :key='Math.random().toString(36).substring(7)'
          :category_property='get_category_property(value.property_id)'
          :list_items='get_list_items(value.property_id)'
          :edit_mode='edit_mode'
          :root_hierarch_list_items='get_root_hierarch_list_items(value.property_id)'
          :hierarch_list_items_init='get_hierarch_list_items(value.root_hierarch_list_item_id)'>
        </div>
        <input type="button" name="next" class="next btn btn-success" value="Следующий шаг" />
        <input type="button" name="previous" class="previous btn btn-default" value="Предыдущий шаг" />
        <%= f.submit 'Сохранить', class: 'btn btn-success' %>
        <%= link_to 'Отмена', :back %>
      </fieldset>

      <fieldset>
        <h2>Дополнения</h2>
        <h3>Постер</h3>
        <div class='js-image_upload_wrapper'>
          <button type='button' class='btn btn-default js-image_button'>Загрузить картинку</button>
          <%= f.input :logotype, label: false, input_html: { class: 'js-image_input', style: 'display:none' } %>
          <%= image_tag (@organization.logotype.exists? ? @organization.logotype.url : ''),
            class: 'js-image_preview', style: 'max-height: 200px' %>
        </div>

        <h3>Галерея</h3>
        <div class="file-uploaded-images">
          <%= f.simple_fields_for :gallery_images do |g| %>
            <div class="image">
              <%= g.link_to_remove do %>
                <figure><i class="fa fa-close"></i></figure>
              <% end %>
              <img src="<%= g.object.element.url %>" alt="">
            </div>
          <% end %>
        </div>
        <div class="file-upload-previews"></div>
        <div class="file-upload">
          <input type="file" name="organization[gallery_images_added_attributes][][element]" class="file-upload-input with-preview" multiple title="Нажмите для загрузки" maxlength="10" accept="gif|jpg|png">
          <span>Нажмите или перетащите файлы сюда</span>
        </div>

        <h3>Описание</h3>
        <div class='row'>
          <div class='col-xs-12'>
            <%= f.input :description,
              label: false,
              as: :bootsy,
              input_html: { style: 'height: 400px', 'data-bootsy-locale': :ru } %>
          </div>
        </div>

        <input type="button" name="next" class="next btn btn-success" value="Следующий шаг" />
        <input type="button" name="previous" class="previous btn btn-default" value="Предыдущий шаг" />
        <%= f.submit 'Сохранить', class: 'btn btn-success' %>
        <%= link_to 'Отмена', :back %>
      </fieldset>

      <fieldset>
        <h2>Публикация</h2>

        <% if @organization.published? %>
          <p>Опубликовано!</p>
        <% elsif @organization.moderation? %>
          <p>Проходит модерацию</p>
        <% else %>
          <p>Для публикации контента необходимо пройти модерацию.</p>
          <div style='text-align:center'>
            <%= f.submit 'Сохранить и отравить на модерацию', class: 'btn btn-success' %>
          </div>
        <% end %>
        <br>
        <input type="button" name="previous" class="previous btn btn-default" value="Предыдущий шаг" />
        <%= f.submit 'Сохранить', class: 'btn btn-success' %>
        <%= link_to 'Отмена', :back %>
      </fieldset>
    <% end %>
  </div>
  <!--end col-md-6-->
</div>
