<div class='row'>
  <div class='col-xs-8'>
    <h3><%= link_to 'К организации', manage_organization_path(@organization)  %></h3>
    <h1>Галерея изображений</h1>
    <%= simple_nested_form_for [:manage, @organization] do |f| %>
      <%= f.simple_fields_for :gallery_images do |g| %>
        <%= g.input :element, label: false %>
        <%= g.input :description %>
        <%= g.link_to_remove 'Удалить' %>
      <% end %>
      <p><%= f.link_to_add 'Добавить изображение', :gallery_images %></p>
      <%= f.submit 'Сохранить', class: 'btn btn-success' %>
      <%= link_to 'Отмена', :back %>
    <% end %>
  </div>
</div>
