<div class='row'>
  <div class='col-xs-6'>
    <h1><%= @organization.title %></h1>
    <p>Адрес: <%= @organization.address %></p>
    <p>Владелец: <%= @organization.user.fullname %></p>

    <hr>
    <% @organization.values.each do |value| %>
      <% if value.get.present? %>
        <p>
          <strong><%= value.property.title %>:</strong>
          <span><%= value.get %></span>
        </p>
      <% end %>
    <% end %>

    <% if @organization.can_service?(:gallery) && @organization.gallery_images.any? %>
      <div>
        <p><strong>Галерея</strong></p>
        <% @organization.gallery_images.each do |image| %>
          <%= image_tag image.element.url, height: '100px' %>
        <% end %>
      </div><br>
    <% end %>

    <% if @organization.can_service?(:description_field) && @organization.description.present? %>
      <div>
        <strong>Описание</strong>
        <p><%= @organization.description.html_safe %></p>
      </div>
    <% end %>

    <% unless @organization.parent.nil? %>
      <h3>Родительская организация
        <%= link_to @organization.parent.title, organization_path(@organization.parent) %>
      </h3>
    <% end %>

    <% if @organization.children.any? %>
      <h3>Дочерние организации
        <% @organization.children.each do |child| %>
          <%= link_to child.title, organization_path(child) %>
        <% end %>
      </h3>
    <% end %>
  </div>

  <div class='col-xs-6'>
    <div class='js-state_block'>
      <%= render partial: 'state_manage' %>
    </div>
    <%= link_to 'Удалить', manage_organization_path(@organization), method: 'DELETE', data: { confirm: 'Вы уверены?' } %>
  </div>
</div>
