<div>
  <h2>Адрес</h2>
  <%= f.input :city_id, as: :hidden, input_html: { value: (@organization.city_id || @current_city.id) } %>
  <%= f.input :city_title, as: :hidden, input_html: { value: @current_city.full_address } %>
  <h4><%= @current_city.full_address %></h4>
  <%= f.input :street %>
  <%= f.input :house %>
  <%= f.input :office %>
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <%= f.input :area_coordinates %>
  <div is='map-template'>
  </div>
</div>

<script type='text/x-template' id='map-template'>
  <div class='js-map_wrapper'>
    <div id='map'></div>
  </div>
</script>
