<div class='row'>
  <div class='col-xs-5'>
    <%= simple_nested_form_for [:my, @organization] do |f| %>
      <%= f.input :title %>

      <%= f.input :address %>

      <h2><%= @organization.category.try(:title) %></h2>

      <%= f.simple_fields_for :values do |value_form| %>
        <%= render partial: "/my/organizations/values_fields/#{value_form.object.property.kind}",
          locals: { f: value_form } %>

      <% end %>
      <%= f.submit 'Сохранить', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
