<div class='row'>
  <div class='col-xs-8'>
    <h3><%= link_to 'К организации', organization_path(@organization)  %></h3>
    <h1>Логотип</h1>
    <%= simple_form_for [:my, @organization] do |f| %>
      <%= f.input :logotype, label: false %>
      <%= f.submit 'Сохранить', class: 'btn btn-success' %>
      <%= link_to 'Отмена', :back %>
    <% end %>
  </div>
</div>
