<div class='panel panel-default owners_panel'>
  <div class='js-state_block'>
    <%= render partial: 'my/organizations/state_manage' %>
  </div>
  <%= link_to 'Редактировать', edit_my_organization_path(@organization) %>
  <%= link_to 'Добавить дочернюю', new_my_organization_path(parent_id: @organization.id) unless @organization.is_child?  %>
  <%= link_to 'Статистика', statistics_my_organization_path(@organization) %>
  <%= link_to 'Управление', managing_my_organization_path(@organization) %>
</div>

