<div class='organizations_main row'>
  <div class='col-xs-8'>
    <%= link_to 'Добавить организацию', new_my_organization_path, class: 'btn btn-success' %>
    <h3>Организации</h3>

    <% if @category %>
      <h2>Категория: <%= @category.title %></h2>
    <% end %>

    <%= paginate @organizations %>
    <% @organizations.each do |organization| %>
      <div class='organization'>
        <%= link_to organization.title, organization_path(organization) %>
      </div>
    <% end %>
    <%= paginate @organizations %>
  </div>
  <%= render partial: 'filter', locals: { category: @category } if @category %>
</div>
