<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>
<div class='js-index_map_container'>
  <div id='map'></div>
</div>

<div class='work_on_map_left_panel organizations_main'>
    <%= render partial: 'layouts/categories_header' unless @current_city.empty? %>
    <%= link_to 'Мои огранизации', my_organizations_path if current_user && @current_city.any? %>
    <%= link_to 'Добавить организацию', new_my_organization_path, class: 'btn btn-success' %>
    <h3>Организации</h3>

    <% if @category %>
      <h2>Категория: <%= @category.title %></h2>
    <% end %>

    <% if params[:commit] == 'Фильтровать' %>
      <h3>Результаты поиска:</h3>
    <% end %>

    <%= paginate @organizations %>
    <% @organizations.each do |organization| %>
      <div class='organization'>
        <%= link_to organization.title, organization_path(organization) %>
      </div>
    <% end %>
    <%= paginate @organizations %>
  <%= render partial: 'filter', locals: { category: @category } %>
</div>
