<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>
<div class='common_storage'
  data-latitude='<%= @current_city.latitude %>'
  data-longitude='<%= @current_city.longitude %>'>
</div>
<div class='js-areas_map_container'>
  <div id='map'></div>
</div>

<div class='work_on_map_left_panel organizations_main'>
  <%= render partial: 'layouts/categories_header' unless @current_city.empty? %>
  <%= link_to 'Мои огранизации', my_organizations_path if current_user && @current_city.any? %>
  <%= link_to 'Добавить организацию', new_my_organization_path %>

  <% if @category %>
    <p>Категория: <%= @category.title %></p>
  <% end %>

  <% if params[:commit] == 'Фильтровать' %>
    <p>Результаты поиска:</p>
  <% end %>

  <%= paginate @organizations %>
  <% @organizations.each do |organization| %>
    <div class='organization'>
      <%= link_to organization.title, organization_path(organization) %>
      <div class='organization_storage'
        data-infos='<%= organization.title %>'
        data-area-coordinates='<%= organization.address.pretty_area_coordinates %>'>
      </div>
    </div>
  <% end %>
  <%= paginate @organizations %>

  <%= render partial: 'filter', locals: { category: @category } %>
</div>
