<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>
<div class='row organization_show'>
  <div class='col-xs-6'>

    <h1><%= @organization.title %></h1>
    <p>Адрес: <%= @organization.address %></p>
    <p>Владелец: <%= @organization.user.fullname %></p>

    <hr>
    <% @organization.values.each do |value| %>
      <%= render partial: "common/values/#{value.property.kind}", locals: {:value => value} %>
    <% end %>

    <% unless @organization.parent.nil? %>
      <h3>Родительская организация
        <%= link_to @organization.parent.title, organization_path(@organization.parent) %>
      </h3>
    <% end %>

    <% if @organization.children.any? %>
      <h3>Дочерние организации
        <% @organization.children.each do |child| %>
          <%= link_to child.title, organization_path(child) %>
        <% end %>
      </h3>
    <% end %>
  </div>
  <div class='col-xs-6'>
    <% if @organization.owner?(current_user) %>
      <%= render partial: 'owners_panel' %>
    <% end %>
    <% if @organization.address.present? %>
      <div class='js-map_wrapper map_show_mode'>
        <div class='map-coordinates'
          data-latitude='<%= @organization.latitude %>'
          data-longitude='<%= @organization.longitude %>'></div>
        <div id='map'></div>
      </div>
    <% end %>
  </div>
</div>
