<span><%= link_to 'Организации', manage_organizations_path %></span>
<span><%= link_to 'Метаданные', manage_metadata_categories_path %></span>
<span><%= link_to 'Управление пакетами услуг', manage_service_packs_path %></span>
<span><%= link_to 'Заявки', manage_my_resource_requests_path %></span>
<span><%= link_to 'Мета-описание страниц', manage_meta_fields_path %></span>
