<!DOCTYPE html>
<html>
  <head>
    <title>ЗГ Организации</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :yandex_map_scripts %>
  </head>

  <body>
    <%= render partial: 'zg_header/zg_header' %>
    <div class='container'>
      <%= render partial: 'layouts/categories_header' unless @current_city.nil? %>
      <%= yield %>
    </div>
  </body>
</html>
